# Hackathon Rules

These are the competition rules.



## The rules of the competition

1. This is a team participation hackathon. You can have at most 5 members in your team.
2. There are 3 themes of the hackathon, you must submit a hack that is in one of these themes.
3. Your hack must be developed entirely during the Hackathon duration. You may use open source libraries and other freely available systems / services such as Google Maps, Facebook Connect, Twitter feeds, etc.


## Judging Criteria

Teams will be judged on these four criteria. Judges will weigh the criteria according to their discretion. During judging, participants should try to describe what they did for each criterion in their project.

- __Idea:__ The uniqueness or creativity of the project. 
- __Design:__ Did the team put thought into the user experience? How well designed is the interface? For a website, this might be about how beautiful the CSS or graphics are. For a hardware project, it might be more about how good the human-computer interaction is (e.g. is it easy to use or does it use a cool interface?).
- __Code:__ How technically impressive was the hack?
- __Pitch:__ Did the presenter(s) engage the audience and hold their attention? Did the presenter(s) appear to speak with confidence authority? Were visual aids (i.e. PowerPoint® slides) clear and valuable? Was the pitch exciting and compelling? How efficiently did the team allot their time?
